---
# roles/oauth2_proxy_nginx/handlers/main.yml
# Handlers for OAuth2-Proxy Nginx role

- name: reload nginx
  systemd:
    name: nginx
    state: reloaded
  listen: reload nginx

- name: restart nginx
  systemd:
    name: nginx
    state: restarted
  listen: restart nginx
