# {{ ansible_managed }}
# Environment for technitium_reservation_sync.py.
TDNS_SOURCE_SCHEME={{ technitium_reservation_sync_primary_scheme }}
TDNS_SOURCE_HOST={{ technitium_reservation_sync_primary_host }}
TDNS_SOURCE_PORT={{ technitium_reservation_sync_primary_port }}
TDNS_SOURCE_TOKEN={{ technitium_reservation_sync_primary_token }}
TDNS_DEST_SCHEME={{ technitium_api_scheme }}
TDNS_DEST_HOST={{ technitium_api_host }}
TDNS_DEST_PORT={{ technitium_api_port }}
TDNS_DEST_TOKEN={{ technitium_api_token }}
